.bgimage {
    background-image: url('/assets/images/blur-background-60s-1.jpg');

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    height: 100vh;
}

/* Section Styles */
.section {
    font-size: 15px;
    width: 700px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fc9631;
    flex-direction: column;
    text-align: center; /* Center align text */
    border-radius: 30px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Max width for the form and its contents within .section2 */
  .section form {
    max-width: 100%;
  }
  
  .section h1 {
    font-size: 3em;
    padding-bottom: 1.2em;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    padding: 1em; /* Add some padding */
    box-sizing: border-box; /* Include padding in width */
  }
  form div{
      width: 100%;
  }

  #email {
      margin-bottom: 1em;
      background-image: url('/assets/icons/email-orange.svg');
      background-repeat: no-repeat;
      background-position: left 10px center;
      padding-left: 40px;
      background-size: 20px 20px;
      background-color: white;
      color: #fc9631;
      font-size: 1.1em;
      width: 100%;
      box-sizing: border-box;
        }
  
  form p {
    margin: 0;
  }
  
  /* Button Styles */
  .button {
    background-color: #fc9631;
    color: white;
    width: 170px; /* Add max-width for responsiveness */
    font-size: 1.1em;
    margin-top: 2em; /* Reduce margin for smaller screens */
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #f8a95a;
  }
  
  .button:active {
    background-color: #ffcd9a;
  }
  
  input {
    border: 0;
    border-radius: 30px;
    padding: 1em;
  }

  /* Back Link Styles */
#back{
  margin: 0.5em;
}
#back:hover {
  text-decoration: underline;
  cursor: pointer;
}