<div class="bgimage">
    <div class="section">
        <h1>Create new password</h1>
        <form>
            <div>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password">
            </div>
    
            <!-- Confirm button -->
            <div>
                <input type="submit" value="CONFIRM" class="button" (click)="navigateToLogin()">
            </div>
        </form>
    </div>
</div>