/* Base styles for the screen container */
.screen {
    height: 500px;
    width: 700px;
    background-color: #ffffff;
    border: solid;
    border-color: #fc9631;
    color: #000000;
    z-index: 50;
    position: relative;
    border-radius: 30px;
}

/* Styles for the header section within the screen */
.screen_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 1% 1% 4%;
}

/* Styles for the title in the header */
.title {
    font-size: 3em;
}

/* Styles for the back button in the header */
.back_button {
    width: 6%;
    margin-right: 2%;
}

/* Styles for the back button image */
.back_button_img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    cursor: pointer;
}

/* Styles for the back button image on hover */
.back_button_img:hover {
    content: url(/assets/icons/hide_home_popup_hower.png);
}

/* Styles for the back button image when active */
.back_button_img:active {
    content: url(/assets/icons/hide_home_popup_active.png);
}

/* Styles for the username input field */
#username_home_popup {
    background-color: #f8e4d0;
    color: #fc9631;
    width: 80%;
    font-size: 1.5em;
    box-sizing: border-box;
    border-radius: 30px;
    border-color: transparent;
    padding: 0.5em 1em; /* Adjust padding for vertical centering */
}

/* Styles for the contact_who container */
.contact_who {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    margin-top: 3em;
}

/* Styles for the contact_who button */
.contact_who_button {
    position: absolute;
    bottom: 20px; /* Position the button at the bottom of the container */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    background-color: #fc9631;
    color: white;
    width: 30%;
    font-size: 1.5em;
    cursor: pointer;
    border: 0;
    border-radius: 30px;
    padding: 0.5em;
}

/* Styles for the contact_who button on hover */
.contact_who_button:hover {
    background-color: #f8a95a;
}

/* Styles for the contact_who button when active */
.contact_who_button:active {
    background-color: #ffcd9a;
}
