/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Gliker';
  src: url('/assets/fonts/Gliker-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gliker';
  src: url('/assets/fonts/Gliker-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*{
  margin: 0;
  font-family: "Gliker";
  transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

  :root{
    --main-color: #fc9631;
    --secondary-color: #f8a95a;
    --tertiary-color: #ffcd9a;
    --background-color: #f8e4d0;
  }