<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
</head>
 
 <header class="home_header">
    <div class ="home_header_title">TimeWarp</div>

    <div class="home_header_button">
      <span class="material-symbols-rounded" (click)="homeToSettings()">
        tune
      </span>
    </div>
  </header>


  <section class="home_section" [ngStyle]="{'background-image': 'url(' + userSettingsService.getSelectedImageSrc() + ')'}">



    <div class = "home_list">

      <div class = "home_list_title">        
        <div class="home_list_title_txt">{{'Discussions' | translate}}</div>
        <div class="home_list_title_button">
          <span class="material-symbols-rounded" (click)="display_new_conv_popup()">
            add_circle
          </span>
        </div>
      </div>  

      <div class = "home_list_all_discussion">
        <div class = "home_list_discussion" *ngFor="let discussion of discussions" [ngClass]="{'selected-discussion': selectedDiscussionId === discussion.id}" (click)="selectDiscussion(discussion.id, discussion.user1, discussion.user2)">
          <div class="contact_picture">
            <span class="material-symbols-rounded">
                Person
            </span>
          </div>
          <a *ngIf="discussion.user1 === loggedUser; else elseBlock"> {{discussion.user2}} </a>
          <ng-template #elseBlock>
            <a>{{discussion.user1}}</a>
          </ng-template>
          <span class="unread-indicator" *ngIf="discussion.unreadMessage && userSettingsService.badgesParameter"></span>
        </div>
      </div>

    </div>



    <div class = "home_conversation">

      <div class = "home_conversation_messages">

        <div class = "home_msg" *ngFor="let message of messages" [ngStyle]="{'justify-content': message.from === loggedUser ? 'flex-end' : 'flex-start'}">
            <div class = "home_msg_info" *ngIf="message.from !== loggedUser">
              <div class="home_msg_info_picture">
                <span class="material-symbols-rounded">
                  Person
                </span>
              </div>
              <a>{{message.timestamp | date: 'dd/MM/yyyy'}}<br>{{message.timestamp | date: 'HH:mm'}}</a>
            </div>
            <div class = "home_msg_content">
              {{message.body}}
            </div>
            <div class = "home_msg_info" *ngIf="message.from === loggedUser">
              <div [ngStyle]="{'background-image': 'url(' + ownprofilpicture + ')'}" class="home_msg_info_picture"></div>
              <a>{{message.timestamp | date: 'dd/MM/yyyy'}}<br>{{message.timestamp | date: 'HH:mm'}}</a>
            </div>        
        </div>

      </div>

      <div class = "home_conversation_tosend" *ngIf="selectedDiscussionId!==''">
        <div class="home_conversation_tosend_otherfiles">
          <img src="/assets/icons/other_files_button.png">
        </div>
        <div class = "home_conversation_tosend_message" >
          <input type="text" id="message" name="Enter a message ..." placeholder="{{'EnterAMessage' | translate}}" (keyup.enter)="postMessage()" [(ngModel)]="newMessageContent">
        </div>
        <span class="material-symbols-rounded" (click)="postMessage()">
          send
        </span>
      </div>

    
    </div>


  </section> 

  <div *ngIf="new_conv_popup" class="new_conv_popup">
    <div class = "screen">
      <div class="screen_head">
          <div class = "title">
              {{'NewDiscussion' | translate}}
          </div>
          <div class ="back_button">
            <span class="material-symbols-rounded" (click)="hide_new_conv_popup()">
              close
            </span>
          </div>
      </div>
  
      <div class="contact_who">        
          <input type="text" id="username_home_popup" name="username_home_popup" placeholder="{{'Username' | translate}}" (keyup.enter)="hide_new_conv_popup(); createDiscussion()" [(ngModel)]="newDiscussionUsername">
          
          <input type="submit" value="{{'Valid' | translate |uppercase}}" class="contact_who_button" (click)="hide_new_conv_popup(); createDiscussion()">
  
      </div>
  </div>
  </div>


