
  <header class="home_header">
    <div class ="home_header_title">TimeWarp</div>

    <div class="home_header_div_button">
      <img (click)="homeToSettings()" class="home_header_button" src="/assets/icons/home_header_button.png">
    </div>
  </header>


  <section class="home_section">



    <div class = "home_list">

      <div class = "home_list_title">        
        <div class="home_list_title_txt">Discussions</div>
        <div class="home_list_title_button_div">
          <img (click)="display_new_conv_popup()" class="home_list_title_button" src="/assets/icons/new_message_button.png">
        </div>
      </div>  

      <div class = "home_list_all_discussion">
        <div class = "home_list_discussion" *ngFor="let discussion of discussions" [ngClass]="{'selected-discussion': selectedDiscussionId === discussion.id}" (click)="selectDiscussion(discussion.id, discussion.user1, discussion.user2)">
          <div [ngStyle]="{'background-image': 'url(' + contact + ')'}" class="contact_picture"></div>
          <a *ngIf="discussion.user1 == loggedUser; else elseBlock"> {{discussion.user2}} </a>
          <ng-template #elseBlock>
            <a>{{discussion.user1}}</a>
          </ng-template>
        </div>
      </div>

    </div>



    <div class = "home_conversation">

      <div class = "home_conversation_messages">

        <div class = "home_msg" *ngFor="let message of messages" [ngStyle]="{'justify-content': message.from == loggedUser ? 'flex-end' : 'flex-start'}">
            <div class = "home_msg_info" *ngIf="message.from != loggedUser">
              <div [ngStyle]="{'background-image': 'url(' + contact + ')'}" class="home_msg_info_picture"></div>
              <a>{{message.timestamp | date: 'dd/MM/yyyy'}}<br>{{message.timestamp | date: 'HH:mm'}}</a>
            </div>
            <div class = "home_msg_content">
              {{message.body}}
            </div>
            <div class = "home_msg_info" *ngIf="message.from == loggedUser">
              <div [ngStyle]="{'background-image': 'url(' + ownprofilpicture + ')'}" class="home_msg_info_picture"></div>
              <a>{{message.timestamp | date: 'dd/MM/yyyy'}}<br>{{message.timestamp | date: 'HH:mm'}}</a>
            </div>        
        </div>

      </div>

      <div class = "home_conversation_tosend" *ngIf="selectedDiscussionId!=''">
        <div class="home_conversation_tosend_otherfiles">
          <img src="/assets/icons/other_files_button.png">
        </div>
        <div class = "home_conversation_tosend_message" >
          <input type="text" id="message" name="Enter a message ..." placeholder="Enter a message ..." (keyup.enter)="postMessage()" [(ngModel)]="newMessageContent">
        </div>
        <img class="home_conversation_tosend_send" src="/assets/icons/send_icon.png" (click)="postMessage()">
      </div>

    
    </div>


  </section> 

  <div *ngIf="new_conv_popup" class="new_conv_popup">
    <app-new-conv-popup (new_conv_popup)="hide_new_conv_popup()"></app-new-conv-popup>
  </div>


