<header class="home_header">
  <div class ="home_header_title">TimeWarp</div>

  <div class="home_header_div_button">
    <img class="home_header_button" src="../../../assets/icons/home_header_button_active.png">
  </div>
</header>


<section class="home_section">
  <div class = "home_list_settings">
      <div class = "home_list_settings_title">    
        <a>Settings</a>
      </div>  
  </div>

  <div class = "home_settings"></div>

</section>


<div class="inline">
    <button (click)="settingsToHome()">Home</button>
    <button (click)="settingsToLogin()">Login</button>
  </div>
