<div class="bgimage">
  <div class="section">
    <h1>{{'ForgotPassword' | translate | uppercase}}</h1>
    <form>
        <div>
            <input type="email" id="email" name="email" placeholder="{{'Email' | translate}}">
        </div>
  
      <!-- Next button -->
      <div>
        <input type="submit" value="{{'Next' | translate | uppercase}}" class="button" (click)="navigateToCode()">
      </div>

      <p id="back"><a (click)="navigateToLogin()">{{'Back' | translate}}</a></p>
    </form>
  </div>
</div>
  