<div class = "screen">
    <div class="screen_head">
        <div class = "title">
            New Discussion
        </div>
        <div class ="back_button">
            <img  class ="back_button_img"  (click)="hide_new_conv_popup()" src="/assets/icons/hide_home_popup.png">
        </div>
    </div>

    <div class="contact_who">        
        <input type="text" id="username_home_popup" name="username_home_popup" placeholder="Username" [(ngModel)]="newDiscussionTitle">
        
        <input type="submit" value="VALID" class="contact_who_button" (click)="hide_new_conv_popup(); addDiscussion()">

    </div>
</div>
