/* Base styles for larger screens */
.section1,
.section2 {
  overflow: hidden;
}

/* Section 1 Styles */
.section1 {
  font-size: 30px;
  width: 65%;
  min-height: 100vh; /* Change height to min-height */
  float: left;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/12498931_4965007.jpeg');
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center align vertically */
}

.section1 h1,
.section1 p {
  margin: 0.4em;
  text-shadow: 0.1em 0.1em 0.05em black;
}

/* Section 2 Styles */
.section2 {
  font-size: 15px;
  width: 35%;
  min-height: 100vh; /* Change height to min-height */
  float: left;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fc9631;
  flex-direction: column;
  text-align: center; /* Center align text */
}

/* Max width for the form and its contents within .section2 */
.section2 form {
  max-width: 100%;
}

.section2 h1 {
  font-size: 3em;
  padding-bottom: 1.2em;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px; /* Add max-width for responsiveness */
  padding: 1em; /* Add some padding */
  box-sizing: border-box; /* Include padding in width */
}

.form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#username {
  margin-bottom: 1em;
}

.form-row input {
  background-color: #f8e4d0;
  color: #fc9631;
  width: 100%;
  font-size: 1.1em;
  box-sizing: border-box;
}

/* Custom "Remember me" Checkbox Styles */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #fc9631;
  border-radius: 5px;
  margin-right: 0.2em;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label::before {
  background-color: #fc9631;
}

/* Form Bottom Styles */
.form-bottom label {
  display: flex;
  align-items: center;
}

.form-bottom label:hover {
  cursor: pointer;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  margin: 0.5em;
}

.form-bottom p {
  margin: 0;
}

#forgot-password:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Button Styles */
.button {
  background-color: #fc9631;
  color: white;
  width: 170px; /* Add max-width for responsiveness */
  font-size: 1.1em;
  margin-top: 2em; /* Reduce margin for smaller screens */
  cursor: pointer;
}

.button:hover {
  background-color: #f8a95a;
}

.button:active {
  background-color: #ffcd9a;
}

.form-row input, .button {
  border: 0;
  border-radius: 30px;
  padding: 1em;
}

/* Create Account Link Styles */
#create-account:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .section1,
  .section2 {
    width: 100%;
  }
}
