
  <header class="home_header">
    <div class ="home_header_title">TimeWarp</div>

    <div class="home_header_div_button">
        <button (click)="homeToSettings()" class="home_header_button"><img  class = "home_header_button_img"  src="../../../assets/images/home_header_button.png"></button>
    </div>
  </header>

  <section class="home_section">

    <div class = "home_list">
      <div class = "home_list_title">
        <div class="home_list_title_txt">Discussions</div>
        <div class="home_list_title_button"></div>
      </div>
    </div>

    <div class = "home_conversation">
    </div>

  </section> 
