.account_picture{    
    margin: 2.5em auto 2.5em auto;
    width: 10em;
    height: 10em;
    border: solid;
    border-color: var(--main-color); 
    z-index: 5;    
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position : center;
    background-size: cover;
}

.account_username{
    margin: 2.5em auto 0.5em auto;
    padding: 0.3em 0em 0.5em 0em;
    width: 45%;
    height: 1.6em;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account_username_title{
    margin-left : 1em;
}

.account_username_input{
    display: flex;
    justify-content: right;
    max-width: 35%;
}

.material-symbols-rounded{
    margin-right: 0.22em;
    cursor: pointer;
    font-size: 2.5em;
}

.material-symbols-rounded:hover{
    color: var(--secondary-color);
}

.material-symbols-rounded:active{
    color: var(--tertiary-color);
}

.account_username_input input{
    color : var(--main-color);
    font-size: 1em;
    width: 100%;
    border-color: transparent;
    background-color: transparent;
    text-align: right;
}

.change_username_already_exist{
    color:red;
    width: 45%;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.account_pwd{
    margin: 0.5em auto 2.5em auto;
    padding: 0.5em 0em 0.5em 0em;
    width: 45%;
    height: 1.6em;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account_pwd_title{
    margin-left : 1em;
}

.account_pwd img{
    height: 100%;
    width: auto;
    margin-right: 1em;    
    cursor: pointer;
}

.account_pwd:hover{
    background-color: var(--tertiary-color);
}

.account_pwd:active{
    background-color: var(--secondary-color);
}

.account_disconnect{
    margin: 2.5em auto 2.5em auto;
    padding: 0.5em 0em 0.5em 0em;
    width: 45%;
    height: 1.6em;
    border-radius: 30px;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_disconnect:hover{
    background-color: var(--secondary-color);
}

.account_disconnect:active{
    background-color: var(--tertiary-color);
}

/* Media queries for smaller screens */
@media screen and (max-width: 1100px) {
    .account_username{
        width: 75%;
    }
    .account_disconnect{
        width: 75%;
    }
    .account_pwd{
        width: 75%;
    }
    .change_username_already_exist{
        width: 75%;        
    }
}
@media screen and (min-width: 1101px) and (max-width : 1500px){
    .account_username{
        width: 75%;
    }
    .account_disconnect{
        width: 75%;
    }
    .account_pwd{
        width: 75%;
    }
    .change_username_already_exist{
        width: 75%;        
    }
}