<div class="container">
    <div class="title">The 1960s</div>
    <div class="imgs-container">
        <img src="/assets/images/12498931_4965007.jpeg" class="clickable-image">
        <img src="/assets/images/12277065_4945415.jpeg" class="clickable-image">
        <img src="/assets/images/12498935_5012660.jpeg" class="clickable-image">
    </div>
</div>

<div class="container">
    <div class="title">The 1970s</div>
    <div class="imgs-container">
        <img src="/assets/images/vecteezy_abstract-spiral-starburst-or-sunburst-background-colorful_15261673.jpg" class="clickable-image">
        <img src="/assets/images/vecteezy_retro-background-groovy-background_6797719.jpg" class="clickable-image">
        <img src="/assets/images/35237771_8287145.jpeg" class="clickable-image">
    </div>
</div>