<div class="bgimage">
    <div class="section">
        <h1>{{'CreateNewPassword' | translate | uppercase}}</h1>
        <form>
            <div>
                <input type="password" id="password" name="password" placeholder="{{'Password' | translate}}">
            </div>
            <div>
                <input type="password" id="confirm-password" name="confirm-password" placeholder="{{'ConfirmPassword' | translate}}">
            </div>
    
            <!-- Confirm button -->
            <div>
                <input type="submit" value="{{'Confirm' | translate | uppercase}}" class="button" (click)="navigateToLogin()">
            </div>
        </form>
    </div>
</div>