<h1>CREATE NEW PASSWORD</h1>
<form>
    <div *ngIf="oldPwdError==false; else elseOldPwd">
        <input class="no_error" [(ngModel)]="oldPwd" type="password" id="old-password" name="old-password" placeholder="Old Password">
      </div>
      <ng-template #elseOldPwd>
        <input class="error_fields" [(ngModel)]="oldPwd" type="password" id="old-password" name="old-password" placeholder={{oldPwdErrorMessage}}>
      </ng-template>

      <div *ngIf="newPwdError==false; else elseNewPwd">
        <input class="no_error" [(ngModel)]="newPwd" type="password" id="password" name="password" placeholder="Password">
      </div>
      <ng-template #elseNewPwd>
        <input class="error_fields" [(ngModel)]="newPwd" type="password" id="password" name="password" placeholder={{newPwdErrorMessage}}>
      </ng-template>

      <div *ngIf="confirmNewPwdError==false; else elseconfirmNewPwd">
        <input class="no_error" [(ngModel)]="confirmNewPwd" type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password">
      </div>
      <ng-template #elseconfirmNewPwd>
        <input class="error_fields" [(ngModel)]="confirmNewPwd" type="password" id="confirm-password" name="confirm-password" placeholder={{confirmNewPwdErrorMessage}}>
      </ng-template>

        
    <!-- Confirm button -->
    <div>
        <input type="submit" value="CONFIRM" class="button" (click)="changePwd()">
    </div>
</form>