<div class="container">
    <img src="/assets/icons/sound.svg" alt="Sound icon">
    <div class="text-container">
      <div class="title">{{'NotificationSounds' | translate}}</div>
      <div class="description">{{'PlaySoundToAlert' | translate}}</div>
    </div>
    <label class="switch">
        <input type="checkbox" [(ngModel)]="soundIsChecked" (change)="onCheckboxChange()">
        <span class="slider round"></span>
    </label>
</div>

<div class="container">
    <img src="/assets/icons/unread_message.svg" alt="Icon badges icon">
    <div class="text-container">
      <div class="title">{{'IconBadges' | translate}}</div>
      <div class="description">{{'DisplayIconBadges' | translate}}</div>
    </div>
    <label class="switch">
        <input type="checkbox" [(ngModel)]="badgesIsChecked" (change)="onCheckboxChange()">
        <span class="slider round"></span>
    </label>
</div>
  
