<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />
</head>

<header class="settings_header">
  <div class ="settings_header_title">TimeWarp</div>

  <div class="settings_header_button">
    <span class="material-symbols-rounded" (click)="settingsToHome()">
      tune
    </span>
  </div>
</header>




<section class="settings_section" [ngStyle]="{'background-image': 'url(' + userSettingsService.getSelectedImageSrc() + ')'}">

  <div class = "settings_list">
      <div class = "settings_list_title">    
        <a>{{'Settings' | translate}}</a>
      </div>  


      <div class="settings_choice_list">
            <div class = "settings_choice" (click)="display_account_settings()" [ngClass]="{'maincolor-to-white': account}">
                <span class="material-symbols-rounded">
                    Person
                </span>
                <a> {{'Account' | translate}} </a>
            </div>


            <div class = "settings_choice" (click)="display_notifications_settings()" [ngClass]="{'maincolor-to-white': notifications}">
                <span class="material-symbols-rounded">
                    notifications
                </span>
                <a> {{'Notifications' | translate}} </a>
            </div>


            <div class = "settings_choice" (click)="display_appearance_settings()" [ngClass]="{'maincolor-to-white': appearance}">
                <span class="material-symbols-rounded">
                    palette
                </span>
                <a> {{'Appearance' | translate}} </a>
            </div>


            <div class = "settings_choice" (click)="display_language_settings()" [ngClass]="{'maincolor-to-white': language}">
                <span class="material-symbols-rounded">
                    language
                </span>
                <a> {{'Language' | translate}} </a>
            </div>


            <div class = "settings_choice" (click)="display_acknowlodgements_settings()" [ngClass]="{'maincolor-to-white': acknowlodgements}">
                <span class="material-symbols-rounded">
                    info
                </span>
                <a> {{'Acknowledgements' | translate}} </a>
            </div>

      </div>
  </div>




  <div class = "settings_part">
    <div *ngIf="account" >
        <app-settings-account (go_chg_pwd)="display_chgpwd_settings()"></app-settings-account>
    </div>

    <div *ngIf="notifications" >
        <app-settings-notifications></app-settings-notifications>
    </div>

    <div *ngIf="appearance" >
        <app-settings-appearance></app-settings-appearance>
    </div>

    <div *ngIf="language" >
        <app-settings-language></app-settings-language>
    </div>

    <div *ngIf="acknowlodgements" >
        <app-settings-acknowlodgements></app-settings-acknowlodgements>
    </div>

    <div *ngIf="chg_pwd" >
        <app-settings-chgpwd (go_account)="display_account_settings()"></app-settings-chgpwd>
    </div>

  </div>


</section>


