<div class="title">Select a language</div>
<div class="language-list">
    <div class="language">
        <input type="radio" id="english" name="language" value="english" checked/>
        <label for="english">English</label>
    </div>
    <div class="language">
        <input type="radio" id="français" name="language" value="français"/>
        <label for="français">Français</label>
    </div>
    <div class="language">
        <input type="radio" id="español" name="language" value="español"/>
        <label for="español">Español</label>
    </div>
</div>
