<div class="container">
    <img src="/assets/icons/sound.svg" alt="Sound icon">
    <div class="text-container">
      <div class="title">Notification sounds</div>
      <div class="description">Play sound to alert you to incoming messages</div>
    </div>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>

<div class="container">
    <img src="/assets/icons/unread_message.svg" alt="Icon badges icon">
    <div class="text-container">
      <div class="title">Icon badges</div>
      <div class="description">Display icon badges to indicate the number of unread messages</div>
    </div>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
  
